# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
# Weather CSV files
data/weather/
# Training logs
**/catboost_info/
# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env

# Large datasets
data/raw/
data/processed/*.csv

# NASA weather files
data/processed/weather/

# Temporary files
*.log

# Large ML model
models/lightgbm_tuned_crop_recommender.pkl