<section id="home" class="hero">



    <!-- Dark Overlay -->
    <div class="overlay"></div>

    <div class="container">

        <div class="hero-content">

            <img src="{{ url_for('static', filename='images/logo.png') }}"
                 class="hero-logo"
                 alt="KrishiKalp Logo">

            <h1>
                Empowering Farmers with <br>
                Intelligent Crop Decisions
            </h1>

            <p>
                KrishiKalp combines Artificial Intelligence,
                soil health, weather conditions and regional
                agricultural data to recommend the best crops.
            </p>

            <div class="hero-buttons">

                <a href="#why" class="btn btn-success btn-lg">
                    Explore
                </a>

                <a href="/predict" class="btn btn-outline-light btn-lg">
                    Predict Now
                </a>

            </div>

            <div class="scroll-indicator">
                <i class="bi bi-chevron-double-down"></i>
            </div>

        </div>

    </div>

</section>