<nav class="navbar custom-navbar fixed-top navbar-expand-lg">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li>
                    <a class="nav-link" href="/#why">Why</a>
                </li>

                <li>
                    <a class="nav-link" href="/#problem">Problem</a>
                </li>

                <li>
                    <a class="nav-link" href="/#solution">Solution</a>
                </li>

                <li>
                    <a class="nav-link" href="/#features">Features</a>
                </li>

                <li>
                    <a class="nav-link" href="/#about">About</a>
                </li>

                <li>
                    <a class="btn btn-success" href="/predict">Predict</a>
                </li>

            </ul>
        </div>

    </div>
</nav>